// letters

$cursive: 'Pacifico', cursive ; 
$open:'Open Sans Condensed', sans-serif;

// colors

$orange: #C84D44;
$dorado:#d79e5b ;
$beige:#FECEA8;
$grey: rgba(255,255,255,.5);
$brown:#83342E;
$grey2:#A99590;
$grey3:#343A40;
$blue:#1464ba;

*{
    //universal selector 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: 'PT Serif', serif;
font-size: 14px;

//font-size: 16px;
//background-color: black;
}

p{
margin-bottom: 30px;
}

.regular-text{
font-weight: 400;
font-family:'Pacifico', cursive ; 
}

/////// Header ///////////  

 .header-content{
     width: 100%;
     height: 100vh;
    
     color: #fff;
     background:black;
     background-image: url(./images/result.jpg);
     background-size: 1500px;
     background-repeat: no-repeat;
     background-position: center; 
    background-attachment: fixed; // we can move while the photo its static
    box-shadow: inset 0 0 100px 150px rgba(0,0,0,.4);// shadow inside around the page
    filter: grayscale(50%);

// ///position static photo///

// // position: relative;
// // top:0;// change for the navbar
// // left: 0;

// //flex box

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;

// z-index: 1;

 }

/////////////// github /////////////

.github-section{
  
    //filter: grayscale(35%);
    //height: 80vh;
    color: #fff;
    background-color:$blue;
    font-family:'Open Sans Condensed', sans-serif;
    
    //background-attachment:cover;
   //background-image: url(./img/banner.jpg);
    
    //background-position: center; 
   // background-attachment: fixed; // we can move while the photo its static

}

.text-git{
    display: flex;
    font-size:1.1rem ;
     justify-content: center;
     align-items: center;
     text-align: center;
    font-weight: 400;
    color: #fff;
    font-family:$open;
    margin:25px
  
}


.git-btn{
    border-radius: 50px;
    border-color: rgba(255, 255, 255, 0.7) ;
    width: 200px ;
    background-color:rgba(255, 255, 255, 0.7) ;
    color: #000;
}

.git-icon{
    margin-bottom:20px;
    font-size:100px
}
//////////////////////////////////////////
//// SERVICES/////


.services{
    font-family:'Open Sans Condensed', sans-serif;
}

.frame{
    font-size: 100px;
   // margin-right: 20px;
}


.mongo img{
    height: 100px;
}

.figure2{
    border-top: 3px solid #C84D44;
    width: 20%;
    margin-left: 40%;
    margin-bottom:20px
    
}

///////////////////




.container{
    max-width: 2120px
}



.header-text{
color: #fff;
}

.header-text .icon{
font-size: 45px;
}

.header-text .title{
font-weight: 700;
font-size: 50px;
animation: blue-neon 2s infinite alternate;
}

.header-text .orange-neon-title,
.header-text .icon{

margin: 0;
font-size: 60px;
animation: orange-neon 2s infinite alternate;


} 
 @media(max-width: 769px){
    .header-text .orange-neon-title
      {
      font-size: 40px;
      
    }
    .header-text .description{

        margin-top: 40px;
        font-size: 15px;
        

    }
    .header-text .title{
        font-size: 35px;
    }
    .header-text .icon{
        font-size: 50px;
    }
    .btn-link{
        font-size: 20px;
    }
}

.header-text .description{

margin-top: 40px;
font-size: 20px;


}

.description::first-line {
font-size: 32px;
font-weight: 700;
margin-bottom: 10px;
}

.btn-link{
display: inline-block;
padding: 15px 30px;
border: 6px dotted #d79e5b;
border-radius: 60px;
color: #fff;
text-decoration: none;
font-size: 25px;
//  text-transform: uppercase;
text-shadow:
 0 -1px 4px #fff,
 2px 2px 10px #ff0,
 2px -2px 20px #ff8000;
 transition: .5s ease;
}

.btn-link:hover{
text-shadow: none;
border: 6px dotted rgba(255,255,255,.5)
}



/////////  MAIN //////////

main{
color: #000;
width: 100%;
//height: 100vh;
z-index: 100;
position: relative;
//margin-top: 20vh;
font-size: 18px;
 background: #fff;
}

 .container { 
//padding: 50px 0;
width: 90%;
max-width: 1000px;
margin: auto;
}

.h2-subtitle{
margin-bottom: 50px;
padding: 0;
font-size: 2rem;
text-align: center;////
font-family: $open;
color:$orange ;

}


.initial-text{
    font-size:2px
}


//////// About us seccion ////////

.About-container{
    display: flex;
    font-size:1.7rem ;
     justify-content: center;
     align-items: center;

    // flex-wrap: wrap;
     @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
              margin-top: 20px;
              flex-direction: column;
             
        }

    .about-us-des{
        
        margin-left: 30px;
        
    }
    
    
}

.text-after{
    display: flex;
    font-size:1.3rem ;
     justify-content: center;
     align-items: center;
     text-align: center;
    font-weight: 400;
    color: $grey2;
    font-family:$open
    }

.card-text{
    @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
        font-size: 12px;
       
  }
}


.Hobbies-icon {
display: flex;
//flex-direction: row;

// align-items: center;
//   margin: 15px;
//   margin-left: 70px ;
  flex-wrap: wrap;

 @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
//     //flex-wrap: wrap; // <-- para acomodar los items en una lina o en varias (bajar iconos)
//    //flex-direction: column;
//    display: flex;
    flex-direction: column;

     align-items: center;
    justify-content: center;
     // margin-left: 65px;
 margin-right: 50px;
//     border: 2px;
//     margin-bottom: 15px;
//     width: 280px;

    }    
}

.mongo img{
  
    
    margin-left: 70px ;
}

.mongo h5{
    margin-left:60px ;
}

.H-icons{
    margin-left: 60px ;
}

/// Titles//
.arrow {
 
    font-family: 'PT Serif', serif;
    font-size: 40px;
}

.figure{
    width:300px;
    border-top: 3px solid #C84D44;

}
.arrow-2{
  
   font-size: 1.20rem; 
   color:rgba(255, 255, 255, 0.7)
}

/// buttons

.botton1{
    border-radius: 50px;
    border-color: rgba(255, 255, 255, 0.7) ;
    width: 200px ;
    background-color:rgba(255, 255, 255, 0.7) ;
    color: rgba(255, 255, 255, 0.7);
}
.botton1:hover{
    background-color:$dorado;
    border-color:$dorado;
   
}

.botton{
    border-radius: 50px;
    border-color: rgba(255, 255, 255, 0.7) ;
    width: 200px ;
    background-color:#000;
    color: rgba(255, 255, 255, 0.7);
}
.botton:hover{
    background-color:$dorado;
    border-color:$dorado;
   
}

//////////////


///////Portfolio///

.portfolio{
    font-family:$open;
    //background-color:rgba(240, 95, 64, 0.9);
    background-color:$grey3;
    font-weight: 400;
}

.portfolio h4{
    color:#fff
}


.port-ilus img{
height: 250px;
}

.port-ilus{
    margin-left: 80px;
}

.roger img{
    height: 250px;
}



// .hover10 figure img {
// 	-webkit-filter: grayscale(100%) blur(1px);
// 	filter: grayscale(100%) blur(1px);
// 	-webkit-transition: .3s ease-in-out;
//     transition: .3s ease-in-out;
//     height: 250px;
//     margin-left: 80px;
//     cursor: pointer;
// }
// .hover10 figure:hover img {
// 	-webkit-filter: grayscale(0) blur(0);
//     filter: grayscale(0) blur(0);
// }

///
.container-card{
    //width: 100%;
    max-width: 1200px;
    height: 530px;
    display: flex;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;

 @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/

    justify-content: center;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-left: 50px;
     margin-bottom: 0px;
    
    } 
}

.container-card .card{
    width: 200px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;;
    -webkit-filter: grayscale(100%) ;
	filter: grayscale(100%) ;
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.container-card .card:hover{
    -webkit-filter: grayscale(0) ;
	filter: grayscale(0) ;
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-card .card img{
    width: 200px;
    height: 280px;
    border-radius: 12px;
}


.container-card .card h4{
    font-weight: 600;
}

.container-card .card p{
    padding: 0 1rem;
    font-size: 13px;
    font-weight: 300;
}

.container-card .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/// resume

.resume h4{
    font-family:'Open Sans Condensed', sans-serif;
}

.resume {
    color: #fff;
    background-color:$blue;
    
    height: 250px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.spacer3{
    margin-bottom:70px
}

.resume-btn{
   
   
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);;
    margin-right: 200px;
    margin-left: 200px;
    border-radius:100px;
    font-family: $open;
    font-weight:550;
    font-size:20px;
    padding:1rem 2rem;
    

}
.resume-btn:hover {
    color: #fff;
    background-color:#212529;
   // border-color:$dorado;
    transition: .5s ease;
   
}


/// contactMe

.info{
    //color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:$open ;
    font-size: 30px;
    padding: 30px;
    color:$grey3 ;
    font-weight: .5px;
}
.font-figures{
    // color: white;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // height: 50px;
    // //width: 50px;// los decentralizo
    color: $grey3;
    width: auto;
    float: left;
    width: 100%;
    height:200px;
   // border-right: 1px solid #d79e5b;
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3.5em;
   

    .mailes{
        // border-right: 2px solid #C84D44 ;
        // border-left: 2px solid #C84D44;
        //margin-top: 12px;
        margin-bottom: 15px;
        

    }
    
  
}

.mail{
    color: black;
    font-family: 'PT Serif', serif;
    display: flex;
    flex-direction: column;
    font-size:20px;
    color:$grey3;
    margin-top: 26px;
    @media(max-width: 769px){
  
        font-size: 12px;
   
    }
    
}

.text-p {

    color: $grey3;
    font-size: 8px;
    margin-top: 25px;
   
   
}

.font-figures p {
    font-family: 'PT Serif', serif;
    font-size: 18px;
   // margin-top: 10px;
    @media(max-width: 769px){
        
        font-size: 15px;
   
    }
    
}