.social{
    width: auto;
    float: left;
    background: #1c1c1c;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}

.social a{
   // display: inline-block;
    
        width: 70px; //separar uno de otro
       height: 50px;
        background-color: #1c1c1c;
        margin: 1px;
        border-right: 1px;
    // border-radius: 20px;
     //box-shadow: 0 5px 15px -5px #ffffff;//lo tengo como referencia
        color: white;
        overflow: hidden;
        position: relative;
        line-height: 50px;// para centrar
        font-size: 25px; //tam;o del logo
       
}

i{
    transition: 0.1s linear;
}

.social i:hover  {
    transform: scale(1.1);
    color: #d79e5b;
}