*{
    box-sizing: border-box;


.ContactMe { 
    max-width: 410px;// size
    color: white;
    margin: 0 auto;// center
    font-family: 'Open Sans' , sans-serif;
    font-size: 16px;
   // background: grey;
  // background-image: url('./images/bg.jpg');
   padding-left: 10px;
   padding-right: 10px;
   border-radius: 10px;
   
   
   
}

input[type=text], input[type=email],textarea,select{
    width: 100%;// input size
    padding: 12px;// height between
   // border: 1px solid red;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 14px;
    background-color: #c3c3c3;
    

}

.header-up img{
    width: 100%;
    height: auto;
    display: flex;


    justify-content: center;
    align-items: center;
    padding:6px
}
    .header-up{
        position: relative;//centrat text
        display: inline-block;
        text-align: center;
        ;
    }

    .central-text{
        color: blanchedalmond;
        // display: flex;
        // justify-content: center;
        position: absolute;
        top: 30%;
        left: 50%; 
        transform: translate(-50%, -50%); //centar
        border: 3px solid white;
        padding: 15px 30px;
        font-family: 'Open Sans', sans-serif;
       
        // @media(max-width: 569px){
        //     font-size: 13px;
        //     top: 50%;
        // left: 50%;
        // }
        @media(max-width: 769px){
            font-size: 16px;
            top: 50%;
        left: 50%;
        }

        
    }



.Contact-me-logo img {
    display: flex;
    height: 180px;
    width: 400px;
    align-items: center;
    justify-content: center;

    
}


.font-figures i{
    width: 300px; // separar
    
    @media(max-width: 769px){
        width: 140px;
        font-size: 16px;
        top: 50%;
    left: 50%;
    }

    
}
.font-figures p {
    font-family: "Open Sans", sans-serif; // letter styles
    font-size: 14px;
    @media(max-width: 769px){
  
        font-size: 10px;
   
    }
    
}


.text-des h4{
    color: white;

    float: left;
    width: 100%;
    height:1px;

    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    text-align: center;
   //text-transform: uppercase;
    font-size:22px ;
    padding-top: 20px;
    font-family:'Pacifico', cursive ;
    //padding-bottom: 20px;
      
    @media(max-width: 769px){
  
      //  font-size: 18px;
   
    }
}



    button {
        
       
        background-color: #d79e5b;
        color: black;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: sans-serif;
        font-weight: 600;
        transition: 0.3s linear
       
    }
    button:hover{ 
    background-color: #624e38;
 
    }

    .button-2{
        color: #c3c3c3;
        cursor: pointer;
        border: 1px solid #c3c3c3 ;

    }
}


