
.toolbar{
    
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    position: sticky; /* empezamos el navbar sticky*/
  // position: relative;
 //  position: absolute;
   //position: static;
    z-index: 200;
  }
  
  .toolbar_navigation{ /* el elemento padre*/
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;/* mover un poquitp donde dice logo*/
    background:black;
    // border-top: 1px solid rgba(255,255,255,.2); /*raya arriba*/
    // border-bottom: 1px solid rgba(255,255,255,.2);
    margin: 0;
  
  }
  /*espacio entre el botton y el logo*/
  .toolbar_logo img{
   width:200px;
   @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
   
    //  display: none;
    }


  }
  
  .toolbar_logo  {
    cursor: pointer;
  //  font-size: ;
  
  }
  
  .spacer{
  
    /* el spacer solo lo utilizamos para separar el contenido de los div y mandar el contenido a la derecha y el logo dejarlo en la i
    izquierda!! excelente truco*/
  
    flex: .9;
  }
  
  .toolbar_navigation-item ul{
    list-style: none;
    margin: 0;
    padding: 0 ;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
   
  }
  
  .toolbar_navigation-item li {
    padding: 0 1rem;
  
  }
  
  .item3{
    font-size: 18px;
  }
  
  .toolbar_navigation-item a {
    color:rgba(255, 255, 255, 0.7);
    text-decoration: none;
    transition: 0.2s linear;
    font-family: 'Open Sans', sans-serif;
    // text-shadow:0 -1px 4px #fff,
    // 2px 2px 10px #ff0,
    // 2px -2px 20px #ff8000;
    transition: .5s ease ;
    font-size: 14px;
  
  }
  
  .toolbar_navigation-item a:hover,
  .toolbar_navigation-item a:active{
  
    color: #C94D44;

  
  }
  
  @media (max-width: 769px){ /* es solo para que se vea en modo movil usuarios*/
    .toolbar_navigation-item{
      display: none;
    }
  }
  
  @media(min-width: 769px){
    .toolbar_toggle-button{
      display:none
    }
  }

.nav-item{
  color:rgba(255, 255, 255, 0.7);
}

  .nav-item:hover {
    color: #C94D44;
    cursor: pointer;
  }