.side-drawer{
    height: 60vh;
    background:#282828 ;
    box-shadow: 1px 0px 7px rgb(0, 0, 0.5);
    position:fixed;
    top: 70px;
    left:1;
    width: 60%;
    max-width:400px ;
    z-index: 200;
    transform: translateX(-200%);/* la animacion de transform translatex*/
    transition: transform 0.3s ease-out;
    font-size: 16px;
    border-radius: 1px;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: inset 0 0 100px 150px rgba(0,0,0,.8);// shadow inside around the page

  
  
 
 }
 .side-drawer.open{
    transform: translateX(0);
  }
 
  .side-drawer ul {
    padding:50px;
   height:70%;
   list-style: none;
   display: flex;
  flex-direction: column;
  justify-content:center;
  //background-color: #1c0d02 ;
  //box-shadow: inset 0 0 100px 150px rgba(0,0,0,.8);// shadow inside around the page

 
  
 
 }
  .side-drawer li{
   
    //sborder-right: 20px solid #1c0d02 ;

      padding: 20px 0;
    
     
    
    
  }
  .item2{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-shadow:0 -1px 4px #fff,
    2px 2px 10px #ff0,
    2px -2px 20px #ff8000;
    transition: .5s ease ;
  }
  .item2:hover{
    text-shadow: none;
  }
 
 @media(min-width:769px) {
    .side-drawer{
      display: none;
    }
  }
 
 .take{
   font-size: 15px;
   margin-left:290px ;
   color: #fff;
   margin-top: 40px;
   position:absolute;
   @media(min-width:1024px) {
      margin-left:350px;
 }}
 
 a{
   text-decoration: none !important;
   color:rgba(255, 255, 255, 0.7);
 }