.carousel{

 
    // height: auto;
     height: 400px;
     position: absolute;
     z-index: 250;
     //padding: 100px 50px;
   
     //  //border-right: 50px solid blue;
     //  border-left: 100px solid white;
     //  border-right: 100px solid white;
     //  //border-bottom: 200px solid grey;
     //  //margin: top right bottom left;
   
   }
   
   
   @media(max-width:769px) {
     .carousel{
      height: 249px;
     }
   }
   